*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #eaeef2;
}



.header{
    background:linear-gradient(to right, #05161a,#0f434f);
    height: 80px;
    
}
.logo{
    margin-right: 5%;
}
nav{
    display: flex;
    padding: 1% 1%;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.2);  
}

.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height:2px;
    background: #0c7073;
    display: block;
    margin: auto;
    transition: 0.2s;
}
.nav-links ul li:hover::after{
    width: 100%;
}




.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem;
}

.news-article {
    width: 30%;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.news-description {
    font-size: 14px;
}
.news-item{
    padding-top: 25px;
}
.footer{
    width: 100%;
    position: relative;
    background: linear-gradient(to right, #05161a, #0f434f);
    color: #fff;
    padding: 0;
    min-height: 300px;
    font-size: 13px;
    line-height: 20px;
}
.logo1{
    width: 150px;
    
}
.container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.row{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    
}
 #information{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
 }
 #information p{
    width: 100%;
 }

.col{
    min-width: 250px;
    color: #0c7073;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.col h4{
    color: #ffffff;
    padding-top: 20px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    font-family: 'PT Serif', serif;
    letter-spacing: 1.5px;
    font-size: 13px;
}
.col h4::after{
    content: '';
    width: 0px;
    height:2px;
    background: #0c7073;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.2s;
}
.col h4:hover::after{
    width: 50px;
}
.col .linked a{
    display: block;
    text-decoration: none;
    color: #c8fdff;
    margin-bottom: 5px;
    
    position: relative;
    transition: 0.3s ease;
}
.col .linked a::before{
    content: '';
    height: 16px;
    width: 3px;
    position: absolute;
    top: 5px;
    left: -10px;
    background-color: #1d92d1;
    transition: 0.5s ease;
    opacity: 0;
}
.col .linked a:hover::before{
    opacity: 1;
}
.col .linked a:hover{
    transform: translateX(-8px);
    color: #3bb6d4;
}


.container p{
    color: #3bb6d4;
    width: 90%;
    text-align: center;
}