*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #eaeef2;
}



.header{
    background:linear-gradient(to right, #05161a,#0f434f);
    height: 80px;
    
}
.logo{
    margin-right: 5%;
}
nav{
    display: flex;
    padding: 1% 1%;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.2);  
}

.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height:2px;
    background: #0c7073;
    display: block;
    margin: auto;
    transition: 0.2s;
}
.nav-links ul li:hover::after{
    width: 100%;
}




.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem;
}

.news-article {
    width: 30%;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.news-description {
    font-size: 14px;
}
